xml-resources/web-service-references/Servico_20/wsdl/localhost_8080/servidorMaven/Servico.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://unirio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://unirio/">

<xs:element name="addPublicacao" type="tns:addPublicacao"/>

<xs:element name="addPublicacaoResponse" type="tns:addPublicacaoResponse"/>

<xs:element name="consultaPorNome" type="tns:consultaPorNome"/>

<xs:element name="consultaPorNomeResponse" type="tns:consultaPorNomeResponse"/>

<xs:element name="consultaPublicacaoPorNome" type="tns:consultaPublicacaoPorNome"/>

<xs:element name="consultaPublicacaoPorNomeResponse" type="tns:consultaPublicacaoPorNomeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="multiplicacao" type="tns:multiplicacao"/>

<xs:element name="multiplicacaoResponse" type="tns:multiplicacaoResponse"/>

<xs:element name="removePublicacao" type="tns:removePublicacao"/>

<xs:element name="removePublicacaoResponse" type="tns:removePublicacaoResponse"/>

<xs:complexType name="removePublicacao">
<xs:sequence>
<xs:element name="Id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPublicacao">
<xs:sequence>
<xs:element name="Id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="anoPublicacao" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPublicacaoPorNome">
<xs:sequence>
<xs:element name="nomePublicacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPublicacaoPorNomeResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacoes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacoes">
<xs:sequence>
<xs:element name="publicacoes" type="tns:publicacao" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacao">
<xs:sequence>
<xs:element name="anoPublicacao" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicacao">
<xs:sequence>
<xs:element name="inteiro1" type="xs:int"/>
<xs:element name="inteiro2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPorNome">
<xs:sequence>
<xs:element name="nomePublicacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPorNomeResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacoes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>