xml-resources/web-service-references/Servico_8/wsdl/localhost_8080/servidorMaven/Servico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unirio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unirio/" name="Servico">
<types>
<xsd:schema>
<xsd:import namespace="http://unirio/" schemaLocation="http://localhost:8080/servidorMaven/Servico?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplicacao">
<part name="parameters" element="tns:multiplicacao"/>
</message>
<message name="multiplicacaoResponse">
<part name="parameters" element="tns:multiplicacaoResponse"/>
</message>
<message name="consultaPorNome">
<part name="parameters" element="tns:consultaPorNome"/>
</message>
<message name="consultaPorNomeResponse">
<part name="parameters" element="tns:consultaPorNomeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="consultaPublicacaoPorNome">
<part name="parameters" element="tns:consultaPublicacaoPorNome"/>
</message>
<message name="consultaPublicacaoPorNomeResponse">
<part name="parameters" element="tns:consultaPublicacaoPorNomeResponse"/>
</message>
<portType name="Servico">
<operation name="multiplicacao">
<input wsam:Action="http://unirio/Servico/multiplicacaoRequest" message="tns:multiplicacao"/>
<output wsam:Action="http://unirio/Servico/multiplicacaoResponse" message="tns:multiplicacaoResponse"/>
</operation>
<operation name="consultaPorNome">
<input wsam:Action="http://unirio/Servico/consultaPorNomeRequest" message="tns:consultaPorNome"/>
<output wsam:Action="http://unirio/Servico/consultaPorNomeResponse" message="tns:consultaPorNomeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://unirio/Servico/helloRequest" message="tns:hello"/>
<output wsam:Action="http://unirio/Servico/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="consultaPublicacaoPorNome">
<input wsam:Action="http://unirio/Servico/consultaPublicacaoPorNomeRequest" message="tns:consultaPublicacaoPorNome"/>
<output wsam:Action="http://unirio/Servico/consultaPublicacaoPorNomeResponse" message="tns:consultaPublicacaoPorNomeResponse"/>
</operation>
</portType>
<binding name="ServicoPortBinding" type="tns:Servico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaPorNome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaPublicacaoPorNome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servico">
<port name="ServicoPort" binding="tns:ServicoPortBinding">
<soap:address location="http://localhost:8080/servidorMaven/Servico"/>
</port>
</service>
</definitions>